body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: large;  
    background-color: #858181; 
    }

    .heading-container{
        text-align: center;
        margin-top: 20px;
        color: rgba(25, 255, 86, 0.728);
        background: rgb(123, 147, 39);

    }
    
    
    .main-Container{
        display:flex;
        flex-direction: row;
        flex-wrap:wrapl

    }
